@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(./fonts/Helvetica\ Neue\ LTW0697BlkCnObl.ttf);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.ctr-column {
    align-items: center;
}

.ctr-row {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.gap-30 {
    gap: 30px;
}

.gap-50 {
    gap: 50px;
}

.gap-55 {
    gap: 55px;
}

.gap-40 {
    gap: 55px;
}

.justify-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.absolute {
    position: absolute;
}

.z-10 {
    z-index: 10;
}

.relative {
    position: relative;
}

.padding30 {
    padding-bottom: 30px;
}

.bgColorS1 {
    background: linear-gradient(180deg, #fff, #f7f7f7);
    width: 100vw;
}

.comment {
    justify-content: space-between;
    width: 90px;

}

.comment p {
    font-size: 14px;
}

.container {
    width: 1170px;
}
.wrap {
    flex-wrap:wrap;
}
h3{
    font-size: calc(1px + 1vw);
}