/* <---------------color----------------> */
.clr-black {
  color: black;
}

.colorBlind {
  background: linear-gradient(129deg, #c40097, #d6710b);
  border-radius: 50px;
  height: 30px;
  width: 100px;
  color: white;
}
body {font-size: calc(18px + (20 - 1) * (( 10vw - 300px) / (1600 - 300)));}
/* <-------------------------------> */
.s1-img {
  width: 570px;
}

.s1 .right {
  width: 570px;
}

.s1 .left {
  width: 570px;
}

.s1> :first-child {
  margin-bottom: 40px;
}

.s1 article {
  width: 300px;
}

.s1 .article-img {
  height: 170px;
  width: 273px;
}

.s1 .scroll {
  overflow-x: auto;
}

.s1 .scroll img {
  height: 280px;
}

.s1 .borderR {
  width: 70px;
  height: 37px;
  justify-content: space-evenly;
}

.s1 .share {
  background: #f0efef;
  border-radius: 30px;
}

.s1 h1 {
  width: 90%;
}

/* <-------------------------------> */
.story {
  min-width: 170px;
  position: relative;
  overflow: hidden;
}


.story img {
  width: 200px;
  height: 230px;
}

.story-card {
  overflow-x: scroll;
  width: 100%;
}

.story--card-information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.story--card-information p {
  color: white;
  overflow: hidden;
  height: 30px;
}

.story:hover p {
  height: 120px;
  transition: 500ms;
}

.story .logo {
  width: 30px;
  height: 30px;
  left: 0;
}

/* <-------------------------------> */
.s3 .button {
  width: 100px;
  height: 10px;
  border-radius: 30px;
  background-color: rgb(199, 198, 198);
}
.s3 {
  margin: auto;
}

.s3 article {
  align-items: center;
  justify-content: space-between;
}

.s3 article .left {
  width: 70%;
}

.s3 article h3 {
  margin: 5px;
}

.s3 article p {
  margin: 5px;
}

.s3 .calendar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(199, 198, 198);
}

.s3 div :last-child {
  margin: 0;
}

.date {
  max-width: 800px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.containerS3 {
  width: 800px;
}

hr {
  margin: 0 20px;
} 

.hoverloh img {
  width: 280px;
  height: 180px;
  padding-right: 30px;
}

.moreNews {
  width: 100%;
  height: 65px;
  background-color: gainsboro;
}

/* <----------------aside---------------> */
aside .article {
  width: 290px;
  height: 300px;
}

aside .article .card-img-aside {
  width: 290px;
  height: 170px;
}

.bgColorBeige {
  background-color: #fdfaf5;
}

.borderBottomDashed {
  border-bottom: 1px dashed rgb(214, 214, 214);
}

aside h6 {
  color: rgb(255, 85, 85);
  font-size: 46px;
  margin: 0 15px;
}

aside .bgColorBeige p {
  margin: 0;
}

aside .asideHover p {
  font-size: 14px;
  width: 90%;
}


/* <-------------s4------------------> */
.s4 .relative :last-child {
  bottom: 0;
  color: white;
}

.s4 .right img {
  width: 100%;
  height: 100%;
}
 

.s4 .talk .right img {
  width: 248px;
  height: 248px;
}

.s4 .talk .right img :hover {
  transform: scale(1.2) rotate(30%);
}

/* <-------------s5------------------> */
.s5 .card :nth-child(0) img {
  width: 280px;
  height: 360px;
}

.s5 .card {
  width: 280px;
  height: 360px;
  margin-right: 15px;
  border: 1px solid gainsboro;
}

.s5 .main {
  overflow-x: auto;
}

/* <-------------s6------------------> */


.s6 .card {
  width: 280px;
  height: 360px;
  border: 1px solid gainsboro;
  margin-right: 15px;
}

.s6 .main {
  overflow-x: auto;
}

/* <-------------s7------------------> */
.comicCard img {
  width: 100%;
  min-width: 150px;
  min-height:100px ;
}

/* <-------------s8------------------> */
.s8 {
  background-color: #000000;
  color: white;
  width: 100vw;
}

.card-img-8 {
  width: 100%;
  height: 170px;
}

.start {
  justify-content: space-between;
}

/* <-----------footer----------------> */
footer a {
  color: black;
}

.border {
  border-bottom: 1px solid black;
  padding: 10px;
}

@media screen and (max-width:1200px) {
  article h3{
    font-size: calc(1px + 1.5vw);
}
  .container {
    width: calc(100vw - 120px) !important;
  }

  .bar {
    display: none !important;
  }

  nav .right {
    width: 350px;
  }

  nav .left {
    width: 200px !important;
  }

  .s1 {
    display: none;
  }

  .s2 .story img {
    width: 300px !important;

  }

  .s2 .story .logo {
    justify-content: start;
  }

  .story--card-information .logo {
    align-items: start;
  }

  .story {
    min-width: 300px !important;

  }

  aside {
    display: none !important;
  }

  hr {
    display: none;
  }

  .date {
    max-width: 700px;
  }
  .s3 article {
    max-width: 700px;
  }

  .s3 .hoverloh img {
    width: 260px;
    height: 160px;
  }
  .s3 article .left {
    width: 65%;

  }
  .s3 .banner{
    width: 700px;
  }                      
  .s4 > :last-child  {
    flex-wrap: wrap;
  }
  .home-interview-img {
    width: 100%;
  }
}

@media screen and (max-width:900px) {
  .s2 .story img {
    width: 340px !important;


  }
  article h3{
    font-size: calc(1px + 2.5vw);
}
  .story {
    min-width: 340px !important;

  }

  aside {
    display: none !important;
  }
}

@media screen and (max-width:500px) {
  .comicCard img{
    height: 100px;
  }
  .card-img-8 {
    width: 100%;
    height: 100px;
  }
  article h3{
    font-size: calc(1px + 3vw);
}
.s3 article {
  max-width: 500px;
}

.s3 .hoverloh img {
  width: 200px;
  height: 150px;
}
.s3 article .left {
  width: 60%;

}
.s3 .banner{
  width: 500px;
}     
.date {
  max-width: 500px;
}
.date .button {
  width: 70px;
}
}